= form_for @schedule_date do |f|
  - if @schedule_date.errors.any?
    #error_explanation
      %h2= "#{pluralize(@schedule_date.errors.count, "error")} prohibited this schedule_date from being saved:"
      %ul
        - @schedule_date.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :time
    = f.datetime_select :time
    = f.hidden_field :type

  .actions
    = f.submit 'Save'
