%h1 Listing schedule_dates

%table
  %thead
    %tr
      %th Time
      %th User
      %th Type
      %th
      %th
      %th
      
  %tbody
    - @schedule_dates.each do |schedule_date|
      %tr
        %td= schedule_date.time
        %td= schedule_date.user
        %td= schedule_date.type
        %td= link_to 'Show', schedule_date
        %td= link_to 'Edit', edit_schedule_date_path(schedule_date)
        %td= link_to 'Destroy', schedule_date, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Schedule date', new_schedule_date_path
